# Created by .ignore support plugin (hsz.mobi)
.gitignore
js/
media/
.idea/
.idea/modules.xml
.idea/vcs.xml
.idea/web_study.iml
.idea/encodings.xml
.idea/misc.xml
.idea/.gitignore
.idea/workspace.xml
